<main class="container-forgout">
  <section class="content-forgout">
    <div class="form-forgout">
      <form (ngSubmit)="reset()">
        <h2 class="form-forgout__title">Redefinição de senha</h2>
        <span
        class="form-forgout__text"
          >Para a redefinição da sua senha informe seu e-mail cadastrado e
          enviaremos um link com as instruções.</span
        >
        <div class="form-group">
          <label for="value" class="form-group__label">E-mail </label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-group__input"
            placeholder="Digite seu e-mail..."
            [(ngModel)]="email"
          />
        </div>
        <div class="btn-wrapper">
          <button class="btn-wrapper__btn" type="submit">Redefinir</button>
        </div>
      </form>
      <div class="form-forgout-footer">
        <span>
          <a routerLink="/login">Login </a>
        </span>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</main>
