<main class="transfers">
  <h2>Tranferências</h2>
  <div class="container-transfers">
    <table>
      <thead>
        <tr>
          <th>Remetente</th>
          <th>Destinatário</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Joao Santos</td>
          <td>Talita Araujo</td>
          <td>06/03/2022</td>
          <td>$112,00</td>
          <td>
            <fa-icon [icon]="faEye" class="icon-transfers"></fa-icon>
          </td>
        </tr>
        <tr>
          <td>Talita Araujo</td>
          <td>Joao Santos</td>
          <td>06/03/2022</td>
          <td>$10,20</td>
          <td>
            <fa-icon [icon]="faEye" class="icon-transfers"></fa-icon>
          </td>
        </tr>
        <tr>
          <td>Joao Santos</td>
          <td>Talita Araujo</td>
          <td>06/03/2022</td>
          <td>$500,00</td>
          <td>
            <fa-icon [icon]="faEye" class="icon-transfers"></fa-icon>
          </td>
        </tr>
        <tr>
          <td>Jose Silva</td>
          <td>Talita Araujo</td>
          <td>06/03/2022</td>
          <td>$120,00</td>
          <td>
            <fa-icon [icon]="faEye" class="icon-transfers"></fa-icon>
          </td>
        </tr>
        <tr>
          <td>Maria do Carmo</td>
          <td>Talita Araujo</td>
          <td>06/03/2022</td>
          <td>$10,00</td>
          <td>
            <fa-icon [icon]="faEye" class="icon-transfers"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
