@import "../../../assets/scss/variables.scss";

.transfers {
  width: 100%;
  height: 100%;
  h2 {
    color: $gray-tertiary;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
  }
}
.container-transfers {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.3rem;
  justify-content: center;
  .icon-transfers {
    cursor: pointer;
    transition: ease 1s;
    &:hover {
      color: $blue-tertiary;
    }
  }
  table {
    box-shadow: $shadow;
    padding: 0.6rem;
  }
}
