<main class="container-login">
  <section class="content-login">
    <div class="form-login">
      <form (ngSubmit)="auth()">
        <h2 class="form-login__title">Login</h2>
        <div class="form-group">
          <label for="value" class="form-group__label">E-mail </label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-group__input"
            placeholder="Digite seu e-mail..."
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group">
          <label for="value" class="form-group__label">Password </label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-group__input"
            placeholder="Digite sua senha..."
            [(ngModel)]="password"
          />
        </div>
        <div class="btn-wrapper">
          <button class="btn-wrapper__btn" type="submit">Entrar</button>
        </div>
      </form>
      <div class="form-login-footer">
        <span>
          <a routerLink="/register">Cadastre-se já </a>
          |
          <a routerLink="/">Esqueceu a senha? </a>
        </span>
        <span class="form-login-footer__text"
          >Campos marcados com * são obrigatórios</span
        >
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</main>
