<main class="container-login">
  <section class="content-login">
    <div class="form-login">
      <form (ngSubmit)="auth()" #loginForm="ngForm">
        <h2 class="form-login__title">Login</h2>
        <div class="form-group">
          <label for="value" class="form-group__label">E-mail </label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-group__input"
            placeholder="Digite seu e-mail..."
            required
            [(ngModel)]="email"
            #fieldEmail="ngModel"
          />
        </div>
        <app-message
          *ngIf="fieldEmail.invalid && fieldEmail.touched"
          message="E-mail é um campo obrigatório"
        ></app-message>
        <div class="form-group">
          <label for="value" class="form-group__label">Password </label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-group__input"
            placeholder="Digite sua senha..."
            required
            [(ngModel)]="password"
            #fieldPassword="ngModel"
          />
        </div>
        <app-message
          *ngIf="fieldPassword.invalid && fieldPassword.touched"
          message="Senha é um campo obrigatório"
        ></app-message>
        <div class="btn-wrapper">
          <button
            type="submit"
            [ngClass]="{
              'btn-wrapper__disabled': loginForm.invalid,
              'btn-wrapper__btn': !loginForm.invalid
            }"
          >
            Entrar
          </button>
        </div>
      </form>
      <div class="form-login-footer">
        <span>
          <a routerLink="/register">Cadastre-se já </a>
          |
          <a routerLink="/forgout-password">Esqueceu a senha? </a>
        </span>
        <span class="form-login-footer__text"
          >Campos marcados com * são obrigatórios</span
        >
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</main>
