<main class="home">
  <div class="home-container">
    <div class="home-card">
      <div class="home-card__header">
        <h2>Talita Cumi Araujo de Oliveira Santos</h2>
        <span>Saldo Disponivel</span>
        <strong>R$ <span>1.500,00 </span></strong>
      </div>
      <div class="home-card__content">
        <strong>Cpf</strong>
        <span>000.000.000-00</span>
        <strong>Telefone</strong>
        <span>(85) 95600-6545</span>
        <strong>E-mail</strong>
        <span>talita@gmail.com</span>
      </div>
      <div class="home-card__footer">
        <button class="home-card-btn" routerLink="/nova-transferencia">
          Nova Tranferência
        </button>
        <button class="home-card-btn">Conta</button>
      </div>
    </div>
    <div class="home-card">
      <div class="home-card__header">
        <h2 class="home-card-title">Nova Carteira</h2>
      </div>
      <div class="home-card__content">
        <small>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
          dolorum. In ducimus cum odio consectetur corrupti nihil, nesciunt
          nostrum inventore similique unde debitis esse provident suscipit
          corporis quasi magni mollitia. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Maiores velit corporis voluptatibus quos, ex impedit
          blanditiis nulla eveniet tempora laboriosam? Quasi, iure eos sunt
          sequi maiores earum laboriosam quis dicta! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Minus, dolorum. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Minus, dolorum. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Minus, dolorum.
        </small>
      </div>
      <div class="home-card__footer">
        <button class="home-card-btn" routerLink="/nova-carteira">Criar</button>
      </div>
    </div>
    <div class="home-card">
      <div class="home-card__header">
        <h3>
          <fa-icon [icon]="faChart" class="icon-home"></fa-icon>Tranferências
        </h3>
      </div>
      <canvas id="chartTransfers">{{ chart }}</canvas>
    </div>
    <div class="home-card">
      <div class="home-card__header">
        <h3>
          <fa-icon [icon]="faList" class="icon-home"></fa-icon>Últimas
          Tranferências
        </h3>
      </div>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Joao Santos</td>
            <td>$112,00</td>
          </tr>
          <tr>
            <td>Talita Araujo</td>
            <td>$10,20</td>
          </tr>
          <tr>
            <td>Joao Santos</td>
            <td>$500,00</td>
          </tr>
          <tr>
            <td>Jose Silva</td>
            <td>$120,00</td>
          </tr>
          <tr>
            <td>Maria do Carmo</td>
            <td>$10,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
