@import "../../../assets/scss/variables.scss";

.nav {
  position: fixed;
  display: flex;
  width: 220px;
  min-height: 90%;
  flex-direction: column;
  z-index: 1000;
  transition: 0.2s margin-left;
  background: linear-gradient(to bottom, $blue-primary, $purple-primary);
  border-radius: 1.3rem;
  margin: 2rem;
  padding: 1rem;
  &__alert {
    padding: 1rem 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: $white-primary;
  }
  li {
    position: relative;
    padding-bottom: 4rem;
    list-style: none;
    a {
      position: relative;
      padding: 1rem 0.6rem;
      text-decoration: none;
      color: $white-primary;
      font-size: 1rem;
    }
    &:hover a:hover {
      color: $black;
      background: $white-primary;
      border-radius: 0.9rem;
    }
  }
}
