@import "../../../assets/scss/variables.scss";
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 90%;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1.3rem;
  background: linear-gradient(to bottom, $blue-primary, $purple-primary);
  &__nav {
    li {
      position: relative;
      padding-bottom: 3rem;
      list-style: none;
      a {
        position: relative;
        padding: 0.8rem;
        text-decoration: none;
        color: $white-primary;
        font-size: 1rem;
        .icon-sidebar {
          margin-right: 0.4rem;
        }
      }
      &:hover a:hover {
        color: $black;
        background: $white-primary;
        border-radius: 0.9rem;
      }
    }
  }
  &__alert {
    border-bottom: 1px solid #fafafa;
    padding: 1.4rem 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: $white-primary;
  }
}
