@import "../../../assets/scss/variables.scss";

.home {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #f0f2ff;
}
.container-home {
  // margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: gray;
}
